webproj/app/data/movies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movies" type="moviesType"/>
  <xs:complexType name="titleType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="year"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scoreType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="num_voted_users" use="optional"/>
        <xs:attribute type="xs:string" name="num_critic_for_reviews" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="imbd_infoType">
    <xs:sequence>
      <xs:element type="scoreType" name="score"/>
      <xs:element type="xs:string" name="link"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="first_name"/>
      <xs:element type="xs:string" name="last_name"/>
      <xs:element type="xs:string" name="facebook_likes"/>
      <xs:element name="profession">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Actor"/>
            <xs:enumeration value="Movie Director"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="main_actorsType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="castType">
    <xs:sequence>
      <xs:element type="main_actorsType" name="main_actors"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="fb_likes" use="optional"/>
  </xs:complexType>
  <xs:complexType name="directorType">
    <xs:sequence>
      <xs:element type="personType" name="person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genresType">
    <xs:sequence>
      <xs:element type="xs:string" name="genre" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="plot_keywordsType">
    <xs:sequence>
      <xs:element type="xs:string" name="keyword" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movieType">
    <xs:sequence>
      <xs:element type="titleType" name="title"/>
      <xs:element type="imbd_infoType" name="imbd_info"/>
      <xs:element type="castType" name="cast"/>
      <xs:element type="directorType" name="director"/>
      <xs:element type="genresType" name="genres"/>
      <xs:element type="plot_keywordsType" name="plot_keywords"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="color" use="optional"/>
    <xs:attribute type="xs:string" name="rating" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="language" use="optional"/>
    <xs:attribute type="xs:string" name="aspect_ratio" use="optional"/>
    <xs:attribute type="xs:string" name="duration" use="optional"/>
    <xs:attribute type="xs:string" name="budget" use="optional"/>
    <xs:attribute type="xs:string" name="fb_likes" use="optional"/>
    <xs:attribute type="xs:string" name="gross" use="optional"/>
    <xs:attribute type="xs:string" name="num_user_for_reviews" use="optional"/>
    <xs:attribute type="xs:string" name="facenumber_in_poster" use="optional"/>
  </xs:complexType>
  <xs:complexType name="moviesType">
    <xs:sequence>
      <xs:element type="movieType" name="movie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>